*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: flex;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "result . content__details";
  width: 100%;
  margin: 133px 30px;
}

.result {
  grid-area: result;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-top: 78px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
font-weight: 400;
font-size: 18px;
line-height: 100%;
margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label input:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(input[type='checkbox']:hover) {
  text-decoration: underline 1px;
  text-underline-offset: 2px;
}

.search-form__textfield {
  border: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: #fff;
  border-top: #fff solid 1px;
  border-bottom: #fff solid 1px;
  background-color: transparent;
  padding: 2.5px 14px 2.5px 0;
  width: 227px;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 17px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  /* margin-right: 5px; */
  margin: 1.5px 5px 0 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  width: 15px;
  height: 15px;
  display: none;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::after {
  /* content: ""; */
  display: block;
  /* position: absolute;
  inset: 1px; */
  /* margin: 1px; */
}

/* input[type='checkbox']:checked + span {
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  background-color: #fff;
  margin-right: 6px;
  padding-top: 10px;
} */

/* .search-form__label-text {
  line-height: 100%;
} */

.button {
  border: #fff solid 1px;
  padding: 6px 73.5px;
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover{
  text-decoration: underline 1px;
  text-underline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  margin-top: 20px;
}

.content__details {
  display: flex;
  flex-direction: column;
  grid-area: content__details;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-family: "Oswald", sans-serif;
  width: 399px;
}

.title {
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 2px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 2px;
  margin-left: 3px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

/* .content__card-link {
  
} */

.content__video-card {
  display: flex;
  align-content: start;
  /* width: 390px; */
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
  /* width: 196px; */
}

.content__video-card-title {
  display: block;
  height: 37px;
  padding-top: 5px;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* padding-right: 9px; */
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  line-clamp: 1;
}

.content__video-card-thumbnail {
  display: block;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  margin: 30px 3px 2px 2px;
  width: 391px;
}